
HalfSheetApp/HalfSheetApp.xcodeproj/project.xcworkspace/xcuserdata/mbanach.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcbkptlist
HalfSheetApp/HalfSheetApp.xcodeproj/xcuserdata/mattbanach.xcuserdatad/xcschemes/xcschememanagement.plist
